@import "/src/mixins.scss";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.products__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.products__container {
  display: grid;
  grid-auto-columns: 75px auto 50px;
  grid-gap: 10px;
  max-height: 240px;
  overflow-y: auto;
}

.products__container::-webkit-scrollbar {
  width: 6px;
}

.products__container::-webkit-scrollbar-track {
  background: $scollbar-track-background;
}

.products__container::-webkit-scrollbar-thumb {
  background: $scollbar-thumb-background;
}

.products__container::-webkit-scrollbar-thumb:hover {
  background: $scollbar-thumb-background-hover;
}

.products__img {
  height: 112px;
  width: 75px;
  grid-column: 1/2;
}

.products__detail {
  grid-column: 2/3;
  grid-template-rows: repeat(4, 1fr);
}

.products__detail__author {
  grid-row: 1/2;
  font-weight: 600;
  text-align: left;
  font-size: 12px;
}

.products__detail__title {
  grid-row: 2/3;
  text-align: left;
  height: 20px;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  font-style: italic;
}

.products__detail__delete {
  grid-column: 3/4;
  cursor: pointer;
  align-content: center;
  display: grid;
  text-align: center;
  justify-content: center;
}

.products__detail__price {
  grid-row: 4/5;
  text-align: left;
  height: 20px;
  font-size: 12px;
}
.btn__add-to-cart {
  background-color: $add-to-cart-color;
  width:80%;
  padding: 5px;
  font-size:small;
  display: grid;
  justify-content: center;
  border-radius: 20px;
  color: white;
  border: none;
}

.btn__add-to-cart:hover {
  background-color: white;
  color: $add-to-cart-color;
  border: 2px solid $add-to-cart-color;
}



